<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Show Poll</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/styles/poll-show.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/public/scripts/drag-drop.js"></script>

  </head>

  <header>
    <nav>
      <span class="span">Decision Maker</span>
    </nav>
  </header>
  <body>
    <form class="form-inline" action="/poll/new"    method="POST">
      <div class="container">
        <h2><%= question %></h2>
        <% for(let choice of choices) { %>
        <ul>
          <li id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">

            <input type="radio" id="<%= choice %>" name="selector" ondrop="drop(event)" ondragover="allowDrop(event)">
            <label for="<%= choice %>" draggable="true" ondragstart="drag(event)"><%= choice %></label>
          </li>
        </ul>
        <% } %>
      <div>
        <button class="vote_button" type="submit">VOTE</button>
      </div>
    </div>
    </form>
</body>
<%- include('partials/_footer') %>
</html>
